.linear{ 
margin:0px auto; 
background-image: -moz-linear-gradient(top, #3A98FD, #fff); /*火狐*/
background: -o-linear-gradient(top, #3A98FD 0%,#fff 100%);/*Opera*/
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#3A98FD), color-stop(1,#fff)); /*Chrome*/
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A98FD',endColorstr='#fff', GradientType='0'); /*IE*/
}
.header{
	background-color: #242424;
	text-align: center;
}
.notification{
	margin-top: 10px;
	padding-top: 10px;
	width: 360px;
}
.wrapper{
	height: auto; 
	min-height: 100%;
	text-align: center;
	padding-top: 40px;
}
.page{
	margin-left: 40px;
	padding-left: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #68838B;
	text-align: left;
	-moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
}
.page p{
	display: block;
	line-height: 30px;
	color: #FFFFFF;
}
.noticeitem{
	height: 310px;
	background: #8A8A8A;
	margin-top: 15px;
	margin-left: 20px;
	margin-right:20px;
	max-height: 290px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius:5px;
    font-size: 15px;
    color: #FFFFFF;
}
.noticeitem span a{
	color: #FFFFFF;
}
.noticeitem ul li{
	padding-left:20px;
	border-bottom: 1px dotted ;
	font-size:14px;
	background:url(../images/item.png) no-repeat left center;
	line-height:30px;
} 
.noticeitem ul li a{
	color: #FFFFFF;
}
.noticeitem span a:hover{
	color: #000;
}
.loginleft{
	margin: 40px 40px 40px;
	float: left;
	background-color: #68838B;
	-moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
    width: auto;
}
.loginright{
	float: right;
	background-color: #68838B;
	margin: 40px 40px 40px;
	width: 300px;
	height: 360px;
	border: 2px solid #68838B;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
}
.loginright h2{
	margin-top: 35px;
	text-align: center;
	color: #FFFFFF;
}
.logininput{
	margin-top: 35px;
	margin-left: 20px;
	margin-right:20px;
	height: 32px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius:5px;
    border: 1px solid #242424;
}
.loginbut{
	margin-top: 35px;
	margin-left: 20px;
	margin-right:20px;
	height: 32px;
}
.logininput ul li{
	display: inline-block;
	line-height: 34px;
	vertical-align:middle
}
img{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
}
.article{
	margin-left: 40px;
	margin-right: 40px;
	padding: 20px 40px 20px;
	background-color: #68838B;
	-moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius:15px;
    height: 350px;
}
.articleitem li{
	padding-left:20px;
	border-bottom: 1px dotted ;
	font-size:14px;
	background:url(../images/item.png) no-repeat left center;
	line-height:30px;
}
.pagenav ul li{
	
	display: inline-block;
}
.pagenav{
	text-align: center;
	padding-top: 20px;
}
.msg{
	background: #8A8A8A;
	margin-top: 15px;
	margin-left: 20px;
	margin-right:20px;
	max-height: 50px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius:5px;
    font-size: 15px;
    color: #FFFFFF;
}
input[type="text"],input[type="password"]{
	height: 32px;
	width: 220px;
    border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}
.notice ul li{
	display: inline-block;
}
.noticeli{
	width: 94%;
	float: right;
}
.footer{
	clear: both;
	background-color: #242424;
	height: 80px;
	text-align: center;
	position: relative; 
	z-index: 10; 
	margin-top: -3em;
}
.footer ul li{
	color: #FFFFFF;
	display: inline-block;
	padding-top: 30px;
}
.footer ul li a{
	color: #FFFFFF;
}
.btu{
	display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: whitesmoke;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bbbbbb;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btu.active, .btu:active {
    background-image: none;
    outline: 0;
    background: #8A8A8A;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

